vim/.netrwhist
vim/bundle/Command-T/
vim/bundle/csapprox/
vim/bundle/go.vim/
vim/bundle/ir_black_mod/
vim/bundle/nerdtree/
vim/bundle/vim-afterimage/
vim/bundle/vim-coffee-script/
vim/bundle/vim-colors-solarized/
vim/bundle/vim-conque/
vim/bundle/vim-endwise/
vim/bundle/vim-fugitive/
vim/bundle/vim-powerline/
vim/bundle/vim-rails/
vim/bundle/vundle/doc/tags
vim/bundle/ColorV/
vim/bundle/vim-indent-guides/
